
* {
border:1px solid red;
}
body {
    background-color: #000000;
}
/* navbar */
.offcanvas-header {
  display: flex;
  justify-content: end;
}

.bg-despl {
    background-color: #000000;
}

.favicon {
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: transparent !important;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-style: normal;
}

.navbar-brand img {
    max-width: 100px;
}

.navbar-toggler {
    border: none;
}

/* Carousel Section1 */

/* ¿QUIÉNES SOMOS? article */

.bg-icon {
    background-color: #1bb4f5;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 6vh;
    color: #ffffff;    
}

.icon-p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    justify-content: left;
}

article div h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}


/* Cards Section2 */
.card-img-top {
    height: 140px;
}

.card {
    background-color: #1bb4f5;
    object-fit: cover;
}

.t-c {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}

.p-c {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

}

section div h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

/* Formulario section3 */
label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.btn-mod {
    background-color: #1bb4f5;
}

.btn-mod span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

/* Footer */